body {
	background-color: #F5F5DC;
}
.container {
	max-width: 800px;
	margin: 0 auto;
}
#book-content {
	display: flex;
	flex-wrap: wrap;
}
#title {
	margin: 0;
}
#author {
	margin-top: 5px;
}
.text {
	overflow-wrap: break-word;
	font-size: 16px;
}
.star-rating {
	margin-top: 10px;
}
#book-image {
	height: 100%;
	float: left;
	margin-right: 20px;
}
#book-info {
	width:500px;
	float: right;
}
#user-review {
	padding-bottom: 20px;
}
#Community-reviews {
	padding-bottom: 10px;
	border-bottom: 1px solid #C0C0C0;
}
#user-activity {
	padding: 10px;
	border-bottom: 1px solid #C0C0C0;
}
#user-review {
	display: block;
}
