@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #F5F5DC;
}
.content {
    padding-top: 100px;
    height: 500px;
    background: url('book.jpg');
    background-repeat: no-repeat;
}
#website-info {
    font-family: Roboto, sans-serif;
    text-align: center;
}
#warning {
    text-align: center;
    font-size: 30px;
}