body {
	background-color: #F5F5DC;
}
.container {
	width: 500px;
	margin-top: 100px;
	padding: 30px;
}
#title {
	margin: 0 auto;
	text-align: center;
}
#form_groups {
	margin-top: 30px;
}