.main_content {
	width: 60%;
	margin: 0 auto;
}
#user-rating {
	display: block;
}
#stars {
	display: inline-block;
}
#clear {
	color: #D3D3D3;
	cursor: pointer;
}
#clear:hover {
	color: black;
}
#horizontal {
	margin: 5px;
	padding: 0;
}
#character-count {
	float: right;
}
.stars {
	display: inline-block;
}
.fa-star {
	color: #ccc;
}
.stars > li.current > i.fa {
	color: orange;
}
.stars > li.selected > i.fa {
	color: orange;
}
.stars > li.star {
	display: inline-block;
	cursor: pointer;
}
.stars > li.hover > i.fa {
	color: yellow;
}
.stars > li.not-hover > i.fa {
	color: #ccc !important;
}
#review {
	margin-bottom: 5px;
}