.main_content {
	width: 60%;
	margin: 0 auto;
}
#user-rating {
	display: block;
}
#stars {
	display: inline-block;
}
#clear {
	color: #D3D3D3;
	cursor: pointer;
}
#clear:hover {
	color: black;
}
#horizontal {
	margin: 5px;
	padding: 0;
}
#character-count {
	float: right;
}