{% extends "bootstrap/base.html" %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href= {{ url_for('static', filename = 'book.css') }}>
{% endblock %}

{% block content %}
{% include "layout.html" %}
{% if book %}
<div class="container" id="book-content">
    {% for book in book %}
    <div id="book-image">
       	<img src = {{book.image_path}}>
        {% include "star.html" %}
	</div>
    <div id="book-info">
        <h1 id="title">{{ book.title }}</h1>
        <h3 id="author"> By {{ book.author }}</h3>
        <table>
            <tr>
                <th>Year</th>
                <td>{{ book.year }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td id = "book-isbn">{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ book.average_score }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="container" id = "user-review">
	{% if user_review|length != 0 %}
	{% for review in user_review %}
		<h4 id = "user-activity">My Activity</h4>
		<table>
			<tr>
				<th>Review of</th>
				<td>{{ book.isbn }}</td>
			</tr>
			<tr>
				<th>Rating</th>
				<td id = "user-rating">{{ review.review_rating }}</td>
			</tr>
			<tr>
				{% if review.review_text %}
				<th>Review</th>
				<td>{{review.review_text }}</td>
				{% else %}
				<th>Review</th>
				<td><a href="{{url_for('review', isbn = book.isbn)}}">Add Review</a></td>
				{% endif %}
			</tr>
		</table>
	{% else %}
		<h3>add review</h3>
	{% endfor %}
	{% endif %}
</div>
{% endfor %}
{% endif %}
<div class = "container" id = "reviews">
	<h4 id = "Community-reviews">Community Reviews</h4>
	{%if reviews %}
	{% for review in reviews %}
		<div class="row">
			<div class="col-sm-3">{{ review.username }}</div>
			<div class="col-sm-9">
				<p>Rated it {{review.review_rating}} stars</p>
				{% if review.review_text|length != 0 %}
				<p>{{ review.review_text }}</p>
				{% else %}
				<p>No review</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	{% else %}
	<h4>No reviews for this book</h4>
	{% endif %}
</div>
{% endblock %}