{% include "layout.html" %}
{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
	<link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename='index.css')}}">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class = "alert alert-warning">
			{% for message in messages %}
				{{ message }} <br>
			{% endfor %}
	{% endif %}
{% endwith %}
<div class="content container">
	<h2 id = "website-info">Meet your next least favorite Book.</h2>
</div>
{% endblock %}